body{
    width:100%;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-image:linear-gradient( 115deg, rgba(0, 0, 158, 0.2), rgba(72, 72, 145, 0.2) ), url(https://images.pexels.com/photos/18233934/pexels-photo-18233934/free-photo-of-nieve-paisaje-montanas-bosque.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
  }
  main{
    background-color:rgba(1, 24, 35, 0.737);
    width:60%;
    margin: 20px auto;
  }
  #title{
    margin: 0 auto;
    text-align:center;
    font-size:2.5em;
  }
  #description{
    margin: 0 auto;
    text-align:center;
    font-size:1em;
  }
  form{
    margin: 0 auto;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2em;
    
  }
  label{
    display:block;
    margin-top:20px;
  }
  input, textarea, select {
    margin: 5px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  input[type="radio"],input[type="checkbox"]{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  hr{
    margin-top:20px;
  }
  #submit{
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1em;
    border-color: black;
    color:white;
    background-color:rgb(255, 140, 0);
    min-width: 300px;
  }
  h3{
    margin: 0 auto;
    padding-bottom:20px;
    text-align:center;
  }  